---
- name: Check if VM {{ vm.name }} exists
  command: virsh dominfo {{ vm.name }}
  register: vm_exists
  failed_when: false
  changed_when: false

- name: Create VM disk from Fedora cloud image
  command: >
    qemu-img create
    -f qcow2
    -b {{ vm_image.path }}
    -F qcow2
    /var/lib/libvirt/images/{{ vm.name }}.qcow2
  args:
    creates: "/var/lib/libvirt/images/{{ vm.name }}.qcow2"
  when: vm_exists.rc != 0

- name: Create VM via virt-install
  command:
    argv:
      - virt-install
      - --name
      - "{{ vm.name }}"
      - --memory
      - "{{ vm.resources.memory_mb }}"
      - --vcpus
      - "{{ vm.resources.vcpus }}"
      - --disk
      - "path=/var/lib/libvirt/images/{{ vm.name }}.qcow2,format=qcow2"
      - --disk
      - "path=/var/lib/libvirt/images/{{ vm.name }}-seed.iso,device=cdrom"
      - --network
      - type=bridge,source={{ vm_networks | selectattr('type','equalto','bridge') | map(attribute='bridge.name') | list | first }},model=virtio
      - --network
      - type=network,source={{ vm_networks | selectattr('type','equalto','nat') | map(attribute='name') | list | first }},model=virtio
      - --os-variant
      - "{{ vm.os.variant }}"
      - --graphics
      - none
      - --console
      - pty,target_type=serial
      - --import
      - --noautoconsole
  when: vm_exists.rc != 0
