- name: Gather libvirt networks
  command: virsh net-list --all
  register: virsh_nets
  changed_when: false

- name: Generate NAT network XML
  template:
    src: nat.xml.j2
    dest: /etc/libvirt/qemu/networks/{{ vm_network.name }}.xml
  vars:
    network: "{{ vm_network }}"

- name: Define libvirt network if missing
  command: virsh net-define /etc/libvirt/qemu/networks/{{ vm_network.name }}.xml

- name: Autostart libvirt network
  command: virsh net-autostart {{ vm_network.name }}

- name: Start libvirt network if inactive
  command: virsh net-start {{ vm_network.name }}
