---
- name: Build vm_nodes from k8s inventory
  set_fact:
    vm_nodes: "{{ vm_nodes | default([]) + [vm_def] }}"
  vars:
    host: "{{ item }}"
    hv: "{{ hostvars[item] }}"
    vm_def:
      name: "{{ host }}"
      hostname: "{{ host }}"
      ip: "{{ hv.ansible_host }}"
      resources: "{{ hv.vm_resources | default(vm_resources) }}"
      os:
        variant: "{{ vm_os.variant }}"
      cloud_init:
        user: "{{ hv.ansible_user }}"
        password_hash: "{{ cloud_init_password_hash }}"
  loop: "{{ groups['k8s'] }}"

- name: Destroy vm_nodes if running
  command: virsh destroy {{ vm.name }}
  loop: "{{ vm_nodes }}"
  loop_control:
    loop_var: vm
  failed_when: false
  changed_when: false

- name: Undefine vm_nodes
  command: virsh undefine {{ vm.name }} --nvram
  loop: "{{ vm_nodes }}"
  loop_control:
    loop_var: vm
  failed_when: false
  changed_when: false

- name: Remove VM disks
  file:
    path: "/var/lib/libvirt/images/{{ vm.name }}.qcow2"
    state: absent
  loop: "{{ vm_nodes }}"
  loop_control:
    loop_var: vm

- name: Remove VM cloud init disks
  file:
    path: "/var/lib/libvirt/images/{{ vm.name }}-seed.jso"
    state: absent
  loop: "{{ vm_nodes }}"
  loop_control:
    loop_var: vm

- name: Remove cloud-init ISOs
  file:
    path: "/var/lib/libvirt/images/{{ vm.name }}-seed.iso"
    state: absent
  loop: "{{ vm_nodes }}"
  loop_control:
    loop_var: vm

- name: Destroy libvirt networks
  command: virsh net-destroy {{ vm_network.name }}
  failed_when: false
  changed_when: false

- name: Undefine libvirt networks
  command: virsh net-undefine {{ vm_network.name }}
  failed_when: false
  changed_when: false
