---
# ---------------------------------------------------------------------------
# Base packages required on the VM host
# ---------------------------------------------------------------------------
vm_host_packages:
  - qemu-kvm
  - libvirt-daemon
  - libvirt-daemon-kvm
  - virt-install
  - cloud-utils
  - genisoimage

# ---------------------------------------------------------------------------
# Libvirt configuration
# ---------------------------------------------------------------------------
libvirt:
  service_name: libvirtd
  uri: qemu:///system
  default_storage_pool: default

# ---------------------------------------------------------------------------
# Networking
# ---------------------------------------------------------------------------

vm_network:
  name: nat
  forward_interface: wlo1
  subnet:
    cidr: 192.168.200.0/24
    gateway: 192.168.200.1
    netmask: 255.255.255.0
    dhcp_range:
      start: 192.168.200.100
      end: 192.168.200.200

# Base Fedora cloud image used for all VMs
vm_os:
  image_name: fedora-cloud-base
  variant: fedora41
  url: https://archives.fedoraproject.org/pub/archive/fedora/linux/releases/41/Cloud/x86_64/images/Fedora-Cloud-Base-Generic-41-1.4.x86_64.qcow2
  path: /var/lib/libvirt/images/fedora-cloud-base.qcow2

cloud_init_password_hash: "$6$q7A0LUWF/OhleG5S$faYiimZD15rTzezoF3S8VRJlVhU6vOnV5o/iL6u02p8B3expAc3GpkDn2fOspTWTAqOKdibAifvCUwb8Qn4Ir/"

vm_resources:
  vcpus: 4
  memory_mb: 8192
  disk_gb: 40
